/* ------------ General ------------ */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    height: 100vh;
    background-color: lightskyblue;
}

/* ------------ Title ------------ */

.page-title {
    font-size: 2.25rem;
    font-family: garamond, arial;
    color: #01579b;
    text-align: center;
    margin-bottom: 20px;
}

/* ------------ Game Information ------------ */

.game-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 420px;
}

.game-information-text {
    font-size: 1.25rem;
    font-family: perpetua, arial;
    color: lightslategray;
}

/* ------------ Game Grid ------------ */

.game-grid {
    height: 540px;
    width: 420px;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
}

/* 
Note that this section is closely based on sources #1 and #2 outlined in the project README. Namely:
1. [Memory Card Game - JavaScript Tutorial](https://www.youtube.com/watch?v=ZniVgo8U7ek&ab_channel=freeCodeCamp.org)
2. [How to Code a Card Matching Game](https://www.youtube.com/watch?v=28VfzEiJgy4&t=0s) 
*/

.card {
    border: 2px solid black; 
    width: 100px;
    height: 132px;
    position: relative;
    transform: scale(1.0);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


.card-front, .card-back {
    width: 100%;  
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card.turned {
    transform: rotateY(180deg);
}

.card-front{
    transform: rotateY(180deg);
}

/* ------------ Overlays ------------ */

.overlay {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    background-color: rgba(0.8, 0.4, 0.4, 0.4);
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    text-align: center;
    padding-top: 20%;

    /* to prevent accidental text selection when double-clicking to re/start game */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.overlay.hidden {
    display: none !important;
}

.overlay.visible {
    display: block !important;
}

#start-overlay {
    display: block;
}

/* ------------ Media Queries ------------ */

@media screen and (max-width: 600px) {
  .game-information {
     width: 205px;
  }
  .game-grid {
     width: 205px;
  }
}